Section: misc
Priority: optional
Maintainer: ##MAINTAINER##
Package: ##PACKAGE##
Version: ##VERSION##
Architecture: ##ARCHITECTURE##
Depends:
Homepage: https://github.com/tillitis/tkey-random-generator
Description: A hardware-backed source of high-quality random numbers.
 tkey-random-generator is a hardware-backed source of high-quality random
 numbers with the ability to provide a cryptographic signature of the data
 generated. Verifying the signature  is a proof of the origin of the data.
